@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clark Volunteer Emergency Squad</h1>
    <p class="lead">Welcome to the community outreach site for Clark's Volunteer EMS Squad</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Events</h2>
        <p>
            Check out our upcoming events calendar and pictures from recent events
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stats</h2>
        <p>See a breakdown of how we serve the community</p>
        <p><a class="btn btn-default" href="http://localhost:59513/Home/Stats">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Join Us</h2>
        <p>Fill out this Online Application and start on the road to becoming an EMT</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>