@{
    ViewBag.Title = "Stats";
    ViewBag.Message = "Facts and Figures about the Squad.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<p>Number of Active Volunteers: <b>45</b></p>
<p>Year Founded: <b>1902</b></p>
<p>Number of Vehicles in Service: <b>3</b></p>
<p>Number of calls per month:</p>
<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Year</th>
            <th>Jan</th>
            <th>Feb</th>
            <th>Mar</th>
            <th>Apr</th>
            <th>May</th>
            <th>Jun</th>
            <th>Jul</th>
            <th>Aug</th>
            <th>Sep</th>
            <th>Oct</th>
            <th>Nov</th>
            <th>Dec</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2015</td>
            <td>50</td>
            <td>63</td>
            <td>86</td>
            <td>45</td>
            <td>62</td>
            <td>48</td>
            <td>27</td>
            <td>15</td>
            <td>110</td>
            <td>105</td>
            <td>102</td>
            <td>4</td>
        </tr>
        <tr>
            <td>2014</td>
            <td>50</td>
            <td>63</td>
            <td>86</td>
            <td>45</td>
            <td>62</td>
            <td>48</td>
            <td>27</td>
            <td>15</td>
            <td>110</td>
            <td>105</td>
            <td>102</td>
            <td>4</td>
        </tr>
    </tbody>
</table>